PORT=4000
JWT_SECRET=your-jwt-secret-key
DATABASE_URL=postgresql://user:password@localhost:5432/loyal?schema=public
PRIVY_APP_ID=your-privy-app-id
PRIVY_APP_SECRET=your-privy-app-secret
RPC_URL=http://127.0.0.1:8545
PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
ADMIN_WALLETS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
CORS_ORIGIN=http://localhost:5173
ADMIN_EMAIL=admin@example.com
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxx
REDIS_URL=redis://localhost:6379
